<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your basic web app structure</title>
</head>
<body>

<h1>Comment with id: <%= comment.id %></h1>
  
  <p>Read this great comment with the following text: <%= comment.text %></p>
  <p><a href="/">Back</a></p>


</body>
</html>