<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Your basic web app structure</title>
</head>
<body>

<h1>Welcome to your basic web app structure</h1>
	
	<p>Checkout the files to see how it is organized.</p>

	<p> Here is an example url</p>
	<a href="/comments/10">Comment with id 10</a>

</body>
</html>